# Use the rank register for my clipboard
# source: https://stackoverflow.com/questions/27898407/intellij-idea-with-ideavim-cannot-copy-text-from-another-source 
set clipboard+=unnamed

# Add vim-surround emulation
set surround 

imap jj <Esc>
set timeoutlen=1000

# Generic
nmap ,e :action GotoNextError<CR>
nmap ,E :action GotoPreviousError<CR>
nmap ,R :action Refactorings.QuickListPopupAction<CR>
nmap ,r :action RenameElement<CR>
nmap ,t :action SearchEverywhere<CR>
nmap ,f :action ShowReformatFileDialog<CR>

# Comment, then go back up to the original line.
nmap - :action CommentByLineComment<CR>
vmap - :action CommentByLineComment<CR>

# Code completion: enter normal mode, complete, re-enter insert mode
imap <C-n> <ESC>:action HippieCompletion<CR>a
imap <C-p> <ESC>:action HippieBackwardCompletion<CR>a

# WrapToColumn settings
map gqj :action com.andrewbrookins.idea.wrap.WrapAction<CR>
map gqk :action com.andrewbrookins.idea.wrap.WrapAction<CR>
map gqap :action com.andrewbrookins.idea.wrap.WrapParagraphAction<CR>

# Golang
nmap ,gf :action GoFmtFileAction<CR>
nmap ,gi :action GoImportsFileAction<CR>
nmap ,gl :action GotoImplementation<CR>
nmap ,gt :action GotoTest<CR>

# Tabs
nmap ,ua :action UnsplitAll<CR>
