[user]
    name  = Charles G.
    email = charles@chuckg.org
[push]
    # Old default: matching
	default = simple
[color]
    diff   = auto
    status = auto
    branch = auto
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[core]
    excludesfile = /Users/cgg/.gitignore
    editor       = vim
[alias]
    d       = diff
    ds      = diff --staged
    dt      = difftool
    st      = status
    undo    = reset --soft "HEAD^"
    unstage = reset HEAD --
    co      = checkout
    br      = branch
    ci      = commit
    last    = log -1 HEAD -p
    lol     = log --graph --decorate --pretty=oneline --abbrev-commit
    lola    = log --graph --decorate --pretty=oneline --abbrev-commit --all
